/* <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>*/
.aa{
    font-family: 'Advent Pro';font-size: 19px;

}
/*<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>*/
.bb {
    font-family: 'Anton';font-size:45px;
}
.bbb {
    font-family: 'Anton';font-size: 30px;
}
/*<link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>*/
.cc {
    font-family: 'Bad Script';font-size: 30px;
}
/*<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>*/
.dd{
    font-family: 'Amaranth';font-size: 30px;
}
.ddd{
    font-family: 'Amaranth';font-size: 20px;
}
/*<link href='https://fonts.googleapis.com/css?family=Farsan' rel='stylesheet'>*/
.ee  {
    font-family: 'Farsan';font-size: 22px;
}
.eee  {
    font-family: 'Farsan';font-size: 18px;
}
/*<link href='https://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet'>*/

.ff {
    font-family: 'BenchNine';font-size: 40px;
}